@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* login-style */
.login input {
  border: 1px solid rgb(60, 55, 55);
  border-radius: 18px;
  padding: 3px 8px;
  margin-top: 10px;
  width: 100%;
}
.connexion {
  height: 50%;
  display: block;
}
@media (max-width: 510px) {
  .partie2 {
    display: none;
  }
  .list li a {
    display: none;
  }
  .partie1 {
    width: 100%;
    margin-right: 60px;
  }
  .login-icon {
    width: 50%;
  }
}
@media (max-width: 450px) {
  .partie {
    width: 100%;
    height: 100vh;
  }
  .centre {
    justify-content: center;
    margin: 0;
    height: 70%;
  }
  .phone {
    margin: 8px;
  }
  .login-icon {
    width: 50%;
  }
}
/* dashboard-style */

.InputSEARCH {
  border: 1px solid rgb(60, 55, 55);
  border-radius: 18px;
  padding: 3px 8px;
  height: 30px;
  width: 100%;
  box-sizing: border-box;
}

.InputSEARCH + .absolute {
  pointer-events: none;
}
.list li span {
  margin-left: 8%;
}
@media (max-width: 1069px) {
  .sideHead h1 {
    display: none;
  }
  .sideHead img {
    width: 70px;
    margin-left: 1%;
    height: 50px;
  }
  header {
    margin-left: 60px;
  }
}

@media (max-width: 643px) {
  .search {
    margin-left: 46px;
  }
}
